.text-center {
    text-align: center;
}
.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  }

  .Center-Container {
    position: relative;
    height: 100%;
  }
  
  .Absolute-Center {
    width: 50%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    
  }

  .margin-top-3-per{
      margin-top: 3%;
  }
  .margin-left-6pc{
    margin-left: 6% !important;
  }

  .width-80-pc{
    width: 80% !important;
  }
  .border_none{
    border : none !important;
  }
  .height_40_px{
    height: 40px;
  }
  .margin-top-0-per{
    margin-top: 0%;
}
.float_left{
  float: left;
}
.text-align-left{
  text-align: left;
}